<!-- <app-header></app-header> -->
<div id="mainpage">
  <div class="container">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="loginFrorm">
                <form #loginForm  = "ngForm">
                    <div class="form-group">
                        <label for="email">Email address</label>
                        <input type="email" class="form-control" id="email" placeholder="Email" ngModel>
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" id="password" placeholder="Password" gnModel>
                    </div>
                    <button type="submit" class="btn btn-default"  (click) = "onLogin(loginForm.value)">Submit</button>
                </form>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <!-- <form #userlogin  = "ngForm" (ngSubmit) = "onSubmit(userlogin .value)">
            <div class="form-group">
                <input type = "text" class="form-control" name = "user_role" placeholder = "user_role" ngModel>
            </div>
            <div class="form-group">
                <input type = "text" class="form-control" name = "user_name" placeholder = "user_name" ngModel>
            </div>
            <div class="form-group">
                <input type = "text" class="form-control" name = "user_email" placeholder = "Email id" ngModel>
            </div>
            <div class="form-group">
                <input type = "text" class="form-control" name = "user_phone" placeholder = "user_phone" ngModel>
            </div>
            <div class="form-group">
                <input type = "text" class="form-control" name = "user_created_by" placeholder = "Example : 1" ngModel>
            </div>
            <div class="form-group">
                <input type = "text" class="form-control" name = "user_updated_by" placeholder = "1" ngModel>
            </div>
            <div class="form-group">
                <input type = "text" class="form-control" name = "is_Active" placeholder = "1" ngModel>
            </div>
          <div class="form-group">
            <input type = "password" class="form-control" name = "user_password" placeholder = "user_password" ngModel>
          </div>
          <button type="submit">Save</button>
        </form> -->
      </div>
      
    </div>
  </div>
</div>
