<!-- <app-header></app-header> -->
<div id="mainpage">
  <div class="container">
    <div class="row">
      <div class="country_table">
        <table class="table table-bordered table-responsive">
          <tr>
            <th>Country Name</th>
            <th>Country Id</th>
            <th>Sortname</th>
            <th>Phonecode</th>
          </tr>
          <tr *ngFor = "let data of posts">
            <td>{{data.name}} </td>
            <td>{{data.id}}</td>
            <td>{{data.sortname}}</td>
            <td>{{data.phonecode}}</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>